<div class="ui bottom attached segment pushable">
  <div class="ui visible left vertical sidebar menu">
    <a class="item">
      <!--<i class="home icon"></i>-->

      <!--<h3 class="ui right aligned header">-->
      <!--<img class="ui tiny circular image" src="assets/images/home_pic1.jpg">-->
      <!--FISH-->
      <!--</h3>-->
      <img class="ui avatar image" src="assets/images/fish_icon.png">
      <span class="categoryName">Fish</span>

    </a>
    <a class="item">
      <img class="ui avatar image" src="assets/images/chicken.png">
      <span class="categoryName">Meet</span>
    </a>
    <a class="item">
      <img class="ui avatar image" src="assets/images/veggie.png">
      <span class="categoryName">Vegetable</span>
    </a>
    <a class="item">
      <img class="ui avatar image" src="assets/images/dessert.png">
      <span class="categoryName">Dessert</span>
    </a>
  </div>
  <div class="pusher">


    <div class="ui segment" style="width: 80%; margin-top: 15px">


      <div style="margin-left: 15px; ">
        <h2>BEST CHEFS TODAY</h2>
      </div>
      <div class="ui grid" style="margin-left: 15px;">
        <div class="row stretched">
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic1.jpg" style="object-fit: fill" routerLink="/game" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic2.jpg" style="object-fit: fill" routerLink="/toy" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic3.jpg" style="object-fit: fill" routerLink="/jewelry" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic3.jpg" style="object-fit: fill" routerLink="/jewelry" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic1.jpg" style="object-fit: fill" routerLink="/game" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic2.jpg" style="object-fit: fill" routerLink="/toy" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic3.jpg" style="object-fit: fill" routerLink="/jewelry" routerLinkActive="active">
          </div>
          <div class="two wide column noPadding">
            <img src="assets/images/home_pic3.jpg" style="object-fit: fill" routerLink="/jewelry" routerLinkActive="active">
          </div>

        </div>
      </div>
    </div>

<div class="ui horizontal segments" style="width: 80%; height: 400px" >
  <div class="ui segment" style="width: 35%;">
<div class="ui grid" style="margin-left: -15px;margin-top: 20px; margin-bottom: 20px; ">

<ngb-carousel *ngIf="images">

  <ng-template ngbSlide>

    <img src="assets/images/home_pic1.jpg" alt="Random first slide" class="fixSlideSize" routerLink="/item" routerLinkActive="active">
    <div class="carousel-caption">
      <h3>Fast Food</h3>
      <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/home_pic2.jpg" alt="Random third slide" class="fixSlideSize" routerLink="/item" routerLinkActive="active">
    <div class="carousel-caption">
      <h3>Chinese Food</h3>
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/home_pic3.jpg" alt="Random second slide" class="fixSlideSize" routerLink="/item" routerLinkActive="active">
    <div class="carousel-caption">
      <h3>Dessert</h3>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
    </div>
  </ng-template>

</ngb-carousel>
</div>
  </div>

  <div class="ui segment" style="margin-left: 20px; width: 30%" [ngSwitch]="loginSuccess">

      <div *ngSwitchCase="false" class="ui middle aligned center aligned grid" style="width: 90%">
      <div class="column">
        <h2 class="ui image header">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form action="http://localhost:5005/user/register" method="post" class="ui register form" style="margin-left: 50px">
          <div class="ui stacked secondary  segment">
            <!--<div class="field">-->
              <!--<div class="ui left icon input">-->
                <!--<i class="user icon"></i>-->
                <!--<input type="text" name="email" id= "email" placeholder="E-mail address">-->
              <!--</div>-->
            <!--</div>-->
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="text" name="userName" id="uerName" placeholder="userName">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password"  id="password" placeholder="Password">
              </div>
            </div>
            <!--<button (click)="onClick()" class="ui fluid large teal submit button" >Login</button>-->
            <div class="field">
            <button class="ui fluid large teal submit button" type="submit">login</button>
              <!--<div class="ui left icon input">-->
                <!--<i class="lock icon"></i>-->
                <!--<input type="text" name="userName" id="uerName" placeholder="userName">-->
              </div>
            <!--</div>-->
            <!--<div>-->
              <!--<button type="submit" class="ui fluid large teal submit button">register</button>-->
            <!--</div>-->
            <button class="ui fluid large teal submit button" routerLink="/register" routerLinkActive="active">register</button>

          </div>

          <div class="ui error message"></div>

        </form>


      </div>
    </div>


  <div *ngSwitchCase="true">
    <p>Welcome!!!</p>
</div>
  </div>
</div>






    <div class="ui segments" style="width: 80%">
      <div class="ui segment">
        <div style="margin-left: 15px">
          <h2>BEST RECIPES TODAY</h2>
        </div>
        <div class="ui grid" style="margin-left: 15px; margin-right: 0px">
          <div class="row stretched">
            <div class="four wide column noPadding">
              <img src="assets/images/home_pic1.jpg" style="object-fit: fill" routerLink="/cloth" routerLinkActive="active">
            </div>
            <div class="four wide column noPadding">
              <img src="assets/images/home_pic2.jpg" style="object-fit: fill" routerLink="/book" routerLinkActive="active">
            </div>
            <div class="four wide column noPadding">
              <img src="assets/images/home_pic3.jpg" style="object-fit: fill" routerLink="/purse" routerLinkActive="active">
            </div>
            <div class="four wide column noPadding">
              <img src="assets/images/home_pic3.jpg" style="object-fit: fill" routerLink="/purse" routerLinkActive="active">
            </div>
          </div>
        </div>
      </div>



    </div>
</div>











