
<div class="ui segment" style="margin-left: 10%; width: 80%">
  <div style="margin-left: 15px; ">
    <h2>{{list.recipeName}}</h2>
  </div>
  <img class="ui large rounded image" src={{list.image}}>

  <div style="margin-left: 15px; ">
    <h2>INGREDIENTS</h2>
  </div>
  <div class="ui horizontal segments">
  <div class="ui segments" style="width: 60%">
    <div class="ui segment" >
      <p>Chicken           100g </p>
    </div>
    <div class="ui segment">
      <p>Potato                 100g</p>
    </div>
    <div class="ui segment">
      <p>Sugar                   15g</p>
    </div>
    <div class="ui segment">
      <p>Salt                    10g</p>
    </div>
    <div class="ui segment">
      <p>Butter                  25g</p>
    </div>
  </div>
    <div class="ui segments" style="width: 60%">
      <div class="ui segment" >
        <p>Chicken           100g </p>
      </div>
      <div class="ui segment">
        <p>Potato                 100g</p>
      </div>
      <div class="ui segment">
        <p>Sugar                   15g</p>
      </div>
      <div class="ui segment">
        <p>Salt                    10g</p>
      </div>
      <div class="ui segment">
        <p>Butter                  25g</p>
      </div>
    </div>
  </div>

  <div style="margin-left: 15px; ">
    <h2>STEPS</h2>
  </div>


  <div class="ui vertical segment">
    <p></p>
  </div>
  <div class="ui vertical segment">
    <p></p>
  </div>
  <div class="ui vertical segment">
    <p></p>
  </div>
</div>


