<nav class="ui menu">
  <div class="header item">
    Top Chef
  </div>
  <div class="ui action input">
    <input type="text" placeholder="Find a recipt...">
    <div class="ui button">Go</div>
  </div>


  <a class="item" routerLink="/" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/category" routerLinkActive="active">
    All Categories
  </a>
  <a class="item" routerLink="/recipes" routerLinkActive="active">
    All Recipes
  </a>

  <!--<div class="right item">-->




  <!--</div>-->
  <!--<i class="cart plus icon" style="width:50px"></i>-->
</nav>



<!--<div class="bg"></div>-->


