<nav class="ui menu">
  <div class="header item">
    Top Chef
  </div>
  <a class="item" routerLink="/" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/category" routerLinkActive="active">
    All Categories
  </a>
  <a class="item" routerLink="/all" routerLinkActive="active">
    All Recipes
  </a>

  <div class="ui action input">
    <!--<input [(ngModel)]="searchKey" type="text" placeholder="Find a recipe...">-->
    <!--<button class="ui button" type="submit" (click)="searchRequest(searchKey)">Go</button>-->

    <input [(ngModel)]="searchKey" placeholder="Find a recipe..." type="text">
    <button class="ui button" type="submit" (click)="searchRequest()" >Go</button>
  </div>


    <!--<div class="right item">-->


  <!--</div>-->
  <!--<i class="cart plus icon" style="width:50px"></i>-->
</nav>


<!--<div class="bg"></div>-->


