<div class="ui segments" style="width: 85%; margin-left: 5%">
  <div class="ui segment">
    <h2>Recipe</h2>
    <div class="ui form" style="width: 60%">

        <!--<input type="text">-->
        <form action="http://localhost:5005/user/createRecipe" method="post" class="ui createRecipe form" style="margin-left: 50px">
          <input type="button" type="submit" onclick="form.action='http://localhost:5005/user/createRecipe'; form.submit();"/>
          <div class="ui stacked secondary  segment">
          <div class="field">
            <label>Recipe name</label>
            <input type="text" name="recipeName" id= "recipeName" placeholder="recipeName">
          </div>
            <div class="field">
              <div class="text-area">
                <label>description</label>
                <input type="text" name="description" id="description" placeholder="description">
              </div>
            </div>

            <div class="field">
              <div class="ui segment">
                <label>please add ingredients</label>
                  <div id="groups1">
                    <!-- 通过js动态添加输入框 -->
                    <!-- 例如：用户名n：<input type="text" name="username[n]" />&nbsp;&nbsp;密码n：<input type="text" name="password[n]" /><br/> -->
                  </div>
                  <button type="button" (click)="add1()" >Add</button>
                  <!--<button type="submit" >Submit</button>-->
              </div>
            </div>
            <div class="field">
              <div class="ui segment">
                <label>please add steps</label>
                  <div id="groups2">
                    <!-- 通过js动态添加输入框 -->
                    <!-- 例如：用户名n：<input type="text" name="username[n]" />&nbsp;&nbsp;密码n：<input type="text" name="password[n]" /><br/> -->
                  </div>
                  <button type="button" (click)="add2()" >Add</button>
              </div>
            </div>
          </div>
            <button type="submit" >Submit</button>
        </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var number1 = 0;
  var number2 = 0
  function add1() {
    var newchild = document.createElement("p");
    var group = 'ingredient'+this.number1+'：<input type="text" name="ingredientName['+this.number1+']"  id="ingredientName['+this.number1+']"/>&nbsp;&nbsp;weight'+this.number1+'：<input type="text" name="ingredientNumber['+this.number1+']" id="ingredientNumber['+this.number1+']"/><br/>';
    newchild.innerHTML = group;
    var groups = document.getElementById("groups1");
    groups.appendChild(newchild);
    this.number1++;
  }
  function add2() {
    var newchild = document.createElement("p");
    var group = 'step'+this.number2+'：<input type="text" name="practiceDescription['+this.number2+']" id="practiceDescription['+this.number2+']"/><br/>';
    newchild.innerHTML = group;
    var groups = document.getElementById("groups2");
    groups.appendChild(newchild);
    this.number2++;
  }
</script>


            <!--<div class="ui right labeled left icon input">-->
        <!--<i class="tags icon"></i>-->
        <!--<input type="text" placeholder="Enter tags">-->
        <!--<a class="ui tag label">-->
          <!--Add Tag-->
        <!--</a>-->
      <!--</div>-->

  <!--<div class="ui segment">-->
    <!--<h2>please add ingredients</h2>-->
    <!--<form id="inputForm1" name="inputForm" action="/createRecipe"  method="post">-->
      <!--<div id="groups1">-->
    <!--&lt;!&ndash; 通过js动态添加输入框 &ndash;&gt;-->
    <!--&lt;!&ndash; 例如：用户名n：<input type="text" name="username[n]" />&nbsp;&nbsp;密码n：<input type="text" name="password[n]" /><br/> &ndash;&gt;-->
      <!--</div>-->
      <!--<button type="button" (click)="add1()" >Add</button>-->
      <!--<button type="submit" >Submit</button>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="ui segment">-->
    <!--<h2>please add steps</h2>-->
    <!--<form id="inputForm2" name="inputForm" action="/step"  method="post">-->
      <!--<div id="groups2">-->
        <!--&lt;!&ndash; 通过js动态添加输入框 &ndash;&gt;-->
        <!--&lt;!&ndash; 例如：用户名n：<input type="text" name="username[n]" />&nbsp;&nbsp;密码n：<input type="text" name="password[n]" /><br/> &ndash;&gt;-->
      <!--</div>-->
      <!--<button type="button" (click)="add2()" >Add</button>-->
      <!--<button type="submit" >Submit</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
  <!--var number = 0; //计数-->
  <!--function add(){-->
    <!--var newchild = document.createElement("p");-->
    <!--var group = '用户名'+number+'：<input type="text" name="username['+number+']" />&nbsp;&nbsp;密码'+number+'：<input type="text" name="password['+number+']" /><br/>';-->
    <!--newchild.innerHTML = group;-->
    <!--var groups = document.getElementById("groups");-->
    <!--groups.appendChild(newchild);-->
    <!--number++;-->
  <!--}-->
<!--</script>-->
