<div class="ui form success">
  <div class="field">
    <label>E-mail</label>
    <input type="email" placeholder="joe@schmoe.com">
  </div>
  <div class="ui success message">
    <div class="header">Form Completed</div>
    <p>You're all signed up for the newsletter.</p>
  </div>
  <div class="ui submit button">Submit</div>
</div>

<form id="myform" action="/login" method="POST">
  <input type="text" name="username">
  <input type="password" name="password">
  <button type="submit">login</button>
</form>
